       
        body { 

margin: 0px;
padding:0px;
background-image: url('img.jpg');

 
        }  
        #title {  
            text-align: center;  
            color:black;
            text-shadow: 2px 2px wheat;  
            font-size: 8vh;  
        }  
        img 
        {  
            
        }     
        #caption {  
            font-size: 19px;  
            font-family:sans-serif;  
            color: black;  
        }  
        
        h1.title-ss{  
            font-size: 35px;  
            color: white;  
            text-align: center;  
            text-shadow: 5px 6px 10px black;  
        }
        p
        {
          font-size: 20px;
          padding: 5px 5px;
        }     

